#game_div{
    text-align: center;
}

canvas {
    background-color: #FF9900;
    padding: 5px;
    margin: 10px;
    border-width: 60px;
    border-color: #FF9900;
    border-style: solid;
}

body {
    background-color: #99FFFF;
}
